# encoding: utf-8

# your configuration here
MYSQL_CONFIG = {
        'db': 'test_tencourt',
        'user': 'root',
        'password': '',
        'host': '127.0.0.1',
        'port': 3306,
}

HOST = '127.0.0.1'
PORT = '8080'
DEBUG = True
SECRET_KEY = 'JIn398/3yX R~XHH!328jl]LW0X/,?2*(T'

