@import "reset.css";
/*@import "jquery.fancybox-1.3.4.css";*/
@import "layout.css";
/* Getting the new tags to behave */
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video {
display:block;
}
mark,rp,rt,ruby,summary,time {
display:inline;
}
/*global*/
html{
height: 100%;
}
body {
position:relative;
font:12px/18px 'Trebuchet MS', sans-serif;
color:#FFD2D7;
min-width: 1080px;
min-height:825px;
text-transform: uppercase;
width:100%;
height:100%;
overflow:hidden;
z-index:1;
background: url(../images/bg_piece.jpg);
}
#glob {
position:absolute;
width:100%;
height:100%;
overflow:hidden;
z-index:2;
background: url(../images/bg_glow.png) center no-repeat;
}
.spinner {
position:fixed;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:9999;
background:url( "../images/ajax-loader.gif") 50% 50% no-repeat #ea505e;
}
.logo {
position:relative;
display:inline-block;
text-indent: 100%;
white-space: nowrap;
overflow: hidden;
width: 263px;
height: 105px;
background: url(../images/logo.png) left center no-repeat;
}
.logo_big {
position:relative;
display:inline-block;
width: 355px;
height: 347px;
background: url(../images/logo_big.png) center no-repeat;
}
header, footer{
position:relative;
width:100%;
z-index:100;
text-align: center;
}
/*header*/
header{
height:215px;
}
/*end header*/
/*footer*/
footer {
height:113px;
}
footer ul{
margin: 0 0 7px 3px;
}
footer ul>li{
display: inline-block;
position: relative;
width: 29px;
height: 23px;
margin-right: -1px;
}
footer ul>li>a{
position: relative;
display: inline-block;
width: 100%;
height: 100%;
overflow: hidden;
}
footer ul>li>a>img{
position: relative;
}
footer p {
position: relative;
color: #f39697;
}
footer p a{
color: #f39697;
}
.decor{
width: 1080px;
height: 33px;
position: absolute;
top: 13px;
left: 0px;
}
.decor>span{
position: relative;
display: inline-block;
width: 23px;
height: 23px;
margin: 0 3px 0 4px;
top: 0;
left: 0;
}
.decor>span:first-child{
margin-left: -4px;
}
.decor>span>strong{
position: relative;
display: inline-block;
width: 23px;
height: 23px;
border-radius: 12px;
-moz-border-radius: 12px;
-webkit-border-radius: 12px;
background: #fdfbdd;
margin: 0 3px 0 4px;
top: 0;
}
.decor>span.bot{
top: 10px;
}
footer .decor{
top: 70px;
left: 0;
}
/*end footer*/
/*menu*/
.menu {
position: absolute;
display: inline-block;
top: 471px;
width: 100%;
overflow: hidden;
}
#menu{
position: relative;
width: 100%;
margin: 0 auto;
display: inline-block;
}
#menu>li {
display: inline-block;
position: relative;
display: inline-block;
text-align: center;
margin: -250px 2px 0;
}
#menu>li.no_bg {
background: none;
}
#menu>li.nodisp {
display: none;
}
#menu>li>a,
#menu>li>a>strong,
#menu>li>a>span {
position: relative;
display: inline-block;
width: 142px;
height: 141px;
border-radius: 71px;
-moz-border-radius: 71px;
-webkit-border-radius: 71px;
font-size:40px;
font-family:"微软雅黑";
line-height:141px;
color: #ec5766;
background: url(../images/menu_bg.png) center bottom no-repeat;
text-transform: uppercase;
letter-spacing: -1px;
overflow: hidden;
}
#menu>li>a>strong{
display: inline-block;
font-weight: normal;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
height: 282px;
}
#menu>li>a>span{
position:absolute;
color: #fdfbdd;
top: 0px;
left: 0px;
position: absolute;
background: none;
height: 0px;
width: 100%;
}
.submenu_1 {
position:absolute;
z-index:9100;
width: 100%;
height: 100%;
left: -2px;
top: 125px;
display: none;
background: url(../images/menu_bg.png) center bottom no-repeat;
}
.submenu_1 li:first-child {
padding-top: 34px;
}
.submenu_1 li {
position:relative;
display: block;
margin-bottom: 2px;
}
.submenu_1 a {
position:relative;
display: block;
font: 15px/18px 'Trebuchet MS', sans-serif;
color: #ec5766;
text-transform: uppercase;
font-weight: bold;
}
.submenu_1 li>a:hover,.submenu_1 li.sfHover>a{
color:#36352a;
}
.submenu_2 {
position:relative;
z-index:9100;
width: 100%;
left: 0px;
top: 0px;
display: none;
}
/*end menu*/
/*pages*/
#content {
position:relative;
width:1080px;
height:825px;
margin: 0 auto;
z-index: 50;
}
#content>ul {
position: relative;
width:100%;
height: 496px;
}
#content>ul>li.no_bg{
background: none;
}
#content>ul>li:first-child {
top: -23px;
overflow: visible;
}
#content>ul>li {
position:absolute;
width:100%;
height:100%;
overflow: hidden;
}
.readMore,.readMore2 {
color: #fdfbdd;
font-weight: bold;
margin-left: 0px;
}
.readMore2{
color: #ffc2ca;
}
.readMore:hover {
text-decoration: underline;  
}
.hline{
width: 100%;
height: 1px;
background: url(../images/hline.jpg) 0 repeat-x;
margin: 10px 0 15px;
display: block;
position: relative;
}
.bg{
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
background: #e35666;
overflow: hidden;
height: 348px;
}
.imStyle1{
float: left;
margin-right: 20px;
border: 10px solid #fdfbdd;
-moz-border: 10px solid #fdfbdd;
-webkit-border: 10px solid #fdfbdd;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
background: #fdfbdd;
}
.list1,.list3{
height: 167px;
margin-left: -3px;
}
.list1>li,.list3>li{
position: relative;
display: inline-block;
float: left;
border: 10px solid #fdfbdd;
-moz-border: 10px solid #fdfbdd;
-webkit-border: 10px solid #fdfbdd;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
margin-left: 4px;
}
.list1>li>a,.list3>li>a{
position: relative;
display: block;
width: 148px;
height: 137px;
}
.list1>li>a{
width: 117px;
}
.list1>li>a>img,.list3>li>a>img{
background: #fdfbdd;
}
.list1>li:first-child,.list3>li:first-child,.list4>li:first-child{
margin: 0;
}
.list2{
margin: -7px 0 0 -1px;
}
.list2>li{
background: url(../images/blt.png) left 6px no-repeat;
margin-bottom: 8px;
}
.list2>li>a{
font-size: 13px;
font-weight: bold;
color: #fdfbdd;
text-decoration: none;
margin-left: 11px;
}
.list2>li>a:hover{
text-decoration: underline;
}
/*slider*/
.slider{
margin-left: 1px;
height: 214px;
}
.slider.v2{
width: 900px;
}
.slider figure:first-child{
margin: 0;
}
.slider figure{
position: relative;
display: inline-block;
float: left;
margin-left: 3px;
height: 214px;
}
.slider figure>div{
border: 10px solid #fdfbdd;
-moz-border: 10px solid #fdfbdd;
-webkit-border: 10px solid #fdfbdd;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
}
.slider figure>div>a{
position: relative;
width: 202px;
height:157px;
display: block;
}
.slider figure figcaption {
padding: 15px 0 0 2px;
margin: 0;
}
.slider figure>div>a>img{
background: #fdfbdd;
}
.btnsHolder{
position: absolute;
top: 46px;
right: 19px;
}
.prev,.next{
margin-left: 3px;
width: 39px;
height: 39px;
position: relative;
display: inline-block;
border-radius: 20px;
-moz-border-radius: 20px;
-webkit-border-radius: 20px;
overflow: hidden;
}
.prev{
background: url(../images/arr_l.png) left center no-repeat;
}
.next{
background: url(../images/arr_r.png) right center no-repeat;
}
/*end slider*/
.sitem_over {
position:absolute;
background:url( '../images/pic_bg_over.png');
z-index:2;
width:100%;
height:100%;
display:none;
overflow: hidden;
}
.sitem_over>strong {
position:relative;
background:url( '../images/icon_zoom.png') center no-repeat;
width: 100%;
height: 100%;
display: block;
}
body p a {
text-decoration:none;
}
body p a:hover {
text-decoration:underline;
}
/*PADDINGS*/
.pad1 {
padding-top: 70px;
}
.pad2 {
padding: 24px 0 0 22px;
}
.pad3 {
padding-top: 117px;
}
.pad4 {
padding-right:20px;
}
.pad5 {
padding-bottom: 6px;
}
.pad6 {
padding: 24px 20px 0 22px;
}
.mar1{
margin-right: 20px;
}
.mar2{
margin-top: -7px;
}
.mar3{
margin-top: 70px;
}
.mar4{
margin: 0 0 15px;
}
.mar5{
margin-bottom: 20px;
}
.color1{
color: #f98795;
}
.color3{
color: #ffc2ca;
}
.fontStyle1{
font-size: 13px;
color: #fdfbdd;
padding: 20px 0 1px;
}
.fontStyle2{
font-size: 13px;
color: #fdfbdd;
padding: 0;
margin: -6px 0 0px;
}
.fontStyle3{
font-size: 13px;
color: #fdfbdd;
padding: 0px 0 7px;
margin: -3px 0 0px;
}
.w1{
display: inline-block;
width: 75px;
}
.w2{
display: inline-block;
width: 220px;
}
/*///////////////////////////*/
h1 {
position: relative;
display: inline-block;
margin: 95px 0 0 68px;
float: left;
overflow: hidden;
z-index: 101;
}
h2 {
font: 40px '微软雅黑', sans-serif;
color: #fdfbdd;
text-transform: uppercase;
letter-spacing: -1px;
padding-bottom: 17px;
}
p {
padding-bottom: 20px;
}
p {
padding-bottom: 20px;
}
#storycontent p {
padding-bottom: 10px;
}
/*additional classes*/
.block {
display:block;
}
.in_block {
display:block;
}
.fleft {
float:left;
}
.fright {
float:right;
}
.fnone {
float:none;
}
.all {
text-align:left;
}
.alr {
text-align:right;
}
.alc {
text-align:center;
}
.wrapper {
width:100%;
overflow:hidden;
}
.box{
overflow:hidden;
}
a.und,.und a {
text-decoration:none;
}
a {
text-decoration:none;
}
a.und:hover,.und a:hover {
text-decoration:underline;
}
.nocolor,.nocolor a {
color:inherit;
}
.upc {
text-transform:uppercase;
}
.extra-wrap {
overflow:hidden;
}
.nopad {
padding:0;
}
.nomar {
margin:0;
}
.clear {
clear:both;
line-height:0;
}
.bold {
font-weight:bold;
}
.rel {
position:relative;
}
.defcur {
cursor:default;
}
.ws {
white-space:pre;
}
.automargin {
margin:0 auto;
}
/*google map*/
.google_map{
width: 877px;
height: 190px;
box-shadow: none;
background-color: #ea505e;
background-image: url(../images/ajax-loader.gif);
background-repeat: no-repeat;  
position:  relative;
overflow: hidden;
border: 10px solid #fdfbdd;
-moz-border: 10px solid #fdfbdd;
-webkit-border: 10px solid #fdfbdd;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
}
/*end google map*/
/* Forms*/
#form1 {
position: relative;
margin-left: -2px;
height: 230px;
}
#form1 input,
#form1 textarea {
position: relative;
background: #d64f5e;
border: none;
color:#f98795;
padding: 5px 11px;
text-transform: uppercase;
width: 266px;
height: 26px;
outline:none;
box-shadow:none;
line-height: 26px;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
}
#form1 textarea {
width: 559px;
height: 97px;
overflow:auto;
resize: none;
padding: 9px 11px;
}
#form1 label {
display:inline-block;
min-height: 42px;
position: relative;
width: 287px;
}
#form1 label:first-child{
margin-right: 3px;
}
#form1 label.message {
width: 100%;
height: 125px;
}
#form1 .success{
position: absolute;
bottom: 19px;
}
#form1 .error, #form1 .empty {
text-align: left;
display:none;
font-size:10px;
color:#fff;
margin-left: 3px;
top: -3px;
position: relative;
}
fieldset{
height: 210px;
}
.btns{
padding: 0;
position: relative;
text-align: right;
}
.btns a{
display:inline-block;
margin-left: 17px;
}
/* Form defaults */
input, select, textarea {
font-family: 'Trebuchet MS', sans-serif;
vertical-align:middle;
font-weight:normal;
font-size: 11px;
}
/*end forms*/